* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    background: #33c6e0;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.publicHeader{
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    background: linear-gradient(to bottom, #60acf0,#64a5df,#62a0dd,#5994d6,#4f8ace,#4880ca);
    background: -webkit-linear-gradient(to bottom, #60acf0,#64a5df,#62a0dd,#5994d6,#4f8ace,#4880ca);
    background: -moz-linear-gradient(to bottom, #60acf0,#64a5df,#62a0dd,#5994d6,#4f8ace,#4880ca);
}